@use "/src/styles/common/variables.scss" as *;
@use "/src/styles/common/fonts" as *;
@use "/src/styles/common/mixin" as *;

.hero__container {
  padding: 30px 125px;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    padding: 30px 65px;
  }

  @media (max-width: $mobile-width) {
    padding: 15px 20px;
  }

  @media (max-width: $mobile-small-width) {
    padding: 15px;
  }
}

.hero__item {
  padding: 20px 0;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: $black;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid rgba($purple, 0.5);
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
  }
}

.hero__label {
  width: 100%;
  display: flex;
  cursor: pointer;
}

.hero__input {
  margin-right: 17px;
  width: 26px;
  height: 26px;
  border: 1px solid $purple;
  border-radius: 2px;
  appearance: none;
  position: relative;
  left: 0;
  transition: all 500ms ease-out;
  cursor: pointer;

  &:checked {
    background-color: $purple;

    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      left: 4px;
      background-image: url("/src/icons/sprite.svg#arrow-checkbox");
      background-repeat: no-repeat;
      background-position: center;
      transition: all 500ms ease-out;
    }
  }
}


.hero__input-error {
  display: block;
  min-height: 1rem;
  font-size: 14px;
  color: red;
  transition: opacity 0.3s ease;

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.hero__input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero__input-text {
  width: 100%;

  &--checked {
    font-weight: 400;
    color: rgba(37, 37, 37, 0.5);
    text-decoration: line-through;
  }
}

.hero__input-edit {
  width: 100%;
  background-color: inherit;
  padding: 0;
  margin: 0;
  color: inherit;
  border: 0;
  border: none;
  outline: none;
}

.hero__item .hero__input-edit {
  display: none;
}

.hero__item .hero__input-text {
  display: block;
}

.hero__item--edit .hero__input-edit {
  display: block;
}

.hero__item--edit .hero__input-text {
  display: none;
}

.hero__btn-wrapper {
  margin-left: 10px;
  display: flex;
  gap: 13px;
  opacity: 0;

  @media (max-width: $tablet-width) {
    opacity: 1;
  }
}

.hero__btn-hidden {
  display: none;
}

.hero__btn-edit,
.hero__btn-delete,
.hero__btn-done,
.hero__btn-cancel {
  @include button-reset;

  width: 18px;
  height: 18px;
  background-color: #cdcdcd;
}

.hero__btn-edit {
  mask-image: url("./icons/sprite.svg#fix");

  &:hover {
    background-color: $purple;
  }
}

.hero__btn-delete {
  mask-image: url("./icons/sprite.svg#delete");

  &:hover {
    background-color: #e50000;
  }
}

.hero__btn-done {
  width: 14px;
  height: 7px;
  position: relative;
  left: 9px;
  top: 9px;
  background-color: inherit;
  border-bottom: 3px solid #6c63ff;
  border-left: 3px solid #6c63ff;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hero__btn-cancel {
  width: 16px;
  height: 3px;
  position: relative;
  background-color: #e50000;
  transform: rotate(45deg) translate(6px, 7px);

  &::after {
    width: 16px;
    height: 3px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e50000;
    transform: rotate(-90deg) translate(0, 0);
  }
}

.hero__item:hover .hero__btn-wrapper {
  opacity: 1;
}

.hero__item .hero__btn-edit,
.hero__item .hero__btn-delete {
  display: block;
}

.hero__item .hero__btn-done,
.hero__item .hero__btn-cancel {
  display: none;
}

.hero__item--edit .hero__btn-edit,
.hero__item--edit .hero__btn-delete {
  display: none;
}

.hero__item--edit .hero__btn-done,
.hero__item--edit .hero__btn-cancel {
  display: block;
}

.hero__img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--hidden {
    @include visually-hidden;
  }
}

.hero__btn-cancel-del {
  @include button-reset;

  margin-top: auto;
  padding: 5px 27px 5px 7px;
  max-width: 155px;
  font-family: $third-font;
  font-weight: 400;
  position: fixed;
  right: calc(60vw - 5px);
  bottom: 32px;
  border: 2px solid $purple;
  border-radius: 4px;
  background: #534cc2;
  text-transform: uppercase;
  color: #fff;
  background-image: url("/src/icons/sprite.svg#arrow");
  background-size: 15px 14px;
  background-repeat: no-repeat;
  background-position: 95%;

  &:hover {
    background-color: $purple;
  }

  &--hidden {
    @include visually-hidden;
  }
}

.hero__btn-count {
  padding: 0 7px;
  font-weight: 700;
}

.hero__btn-add {
  @include button-reset;

  width: 50px;
  height: 50px;
  position: fixed;
  right: calc(50vw - 370px);
  bottom: 32px;
  box-shadow: 0 0 4px 0 $purple;
  background-color: $purple;
  border-radius: 100%;
  z-index: 100;

  &::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-image: url("/src/icons/sprite.svg#add");
  }

  &:hover {
    background-color: #534cc2;
  }

  @media (max-width: $tablet-width) {
    right: calc(50vw - 48%);
  }

  @media (max-width: $mobile-width) {
    bottom: 20px;
  }
}
