@use "/src/styles/common/variables.scss" as *;
@use "/src/styles/common/fonts" as *;
@use "/src/styles/common/mixin" as *;

.nav__search {
  flex: 1;
}

.nav__input {
  width: 100%;
  max-width: 595px;
  padding: 8px 16px;
  font-family: $second-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  border: 1px solid $purple;
  border-radius: 5px;
  background-image: url("/src/icons/sprite.svg#search");
  background-color: inherit;
  background-size: 21px 21px;
  background-position: 98%;
  background-repeat: no-repeat;
  outline: none;

  &::placeholder {
    color: #c3c1e5;
  }

  &:focus-visible {
    box-shadow: 4px 5px 24px rgba(108, 99, 255, 0.2);
  }
}

.nav__select-wrapper {
  position: relative;
}

.nav__select-btn {
  @include button-reset;

  padding: 8px;
  width: 135px;
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  color: $white;
  box-shadow: 0 0 4px 0 $purple;
  background: #5850dd;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;

  &::after {
    content: "";
    display: block;
    width: 17px;
    height: 7px;
    margin-left: auto;
    background-image: url("/src/icons/sprite.svg#arrow-down");
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
  }

  &:active {
    background: #534cc2;
    outline: 2px solid $purple;
  }
}

.nav__select-wrapper--open {
  .nav__select-list {
    display: block;
    z-index: 2;
  }
  .nav__select-btn::after {
    transform: rotate(180deg);
  }
}

.nav__select-list {
  padding: 5px 0;
  width: 100%;
  height: 90px;
  position: absolute;
  display: none;
  background-color: $white;
  border: 1px solid $purple;
  border-radius: 5px;
}

.nav__select-item {
  padding: 5px 15px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
  color: $purple;

  &:hover {
    background: rgba(108, 99, 255, 0.2);
    cursor: pointer;
  }
}

.nav__theme-btn {
  @include button-reset;
  border-radius: 5px;
  width: 38px;
  height: 38px;
  background-color: $purple;
  background-image: url("/src/icons/sprite.svg#moon");
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: #5850dd;
  }
}
