@font-face {
  font-family: "Raleway";
  src: url("/src/fonts/Raleway/Raleway-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/src/fonts/Raleway/Raleway-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Raleway";
  background-color: rgb(43, 115, 91);
}
p {
  color: azure;
}
